{% extends 'layout.njk' %} 

    {% block head %}
        <title>Página de cursos e iframe</title>
    {% endblock %}

    {% block content %}
        <div id="wrapper">
            <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactnative/3.0.1/1588456740326/Microsoft.VisualStudio.Services.Icons.Default" alt="Rocketseat logo">

            <h1>Rocketseat</h1>

            <p>Uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível. Acesse <a href="http://rocketseat.com.br" target="_blank" rel="noopener noreferrer">Rocketseat</a>.</p>

            <div class="list">
                <h3>Principais Tecnologias</h3>
            <ul>
                <li><span>Javascript</span></li>
                <li><span>HTML</span></li>
                <li><span>CSS</span></li>
                <li><span>Nunjucks</span></li>
                <li><span>SQL</span></li>
            </ul>
            </div>
        </div>

        <div id="footer-links" class="links">
            <a href="https://github.com/rocketseat/" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>
    {% endblock %}

