{% extends 'layout.njk' %} 

    {% block head %}
        <title>Página de cursos e iframe</title>
    {% endblock %}

    {% block content %}
        <div id="wrapper">
            <img src="{{about.img}}" alt="foto de {{about.name}}">

            <h1>{{about.name}}</h1>

            <p>{{about.description}}</p>

            <div class="list">
                <h3>Principais Tecnologias</h3>
            {% for tech in about.technologies %}
            <ul>
                <li><span>{{tech.name}}</span></li>
            {% endfor %}
            </ul>
            </div>
        </div>

        <div id="footer-links" class="links">
            <a href="https://github.com/rocketseat/" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>
    {% endblock %}

