{% extends 'layout.njk' %}

    {% block head %}
        <title>courses</title>
    {% endblock %}

    {% block bodyId %}
        <body id="courses">
    {% endblock %}
    
    {% block content %}
        <div id="wrapper">
            <h1>{{course.name}}</h1>
        </div>

        
        <section class="cards">
            <div class="card" id="{{course.name}}">
                <span class="card__number">
                        {{course.id}}
                    </span>
        
                    <img src="{{course.img}}" alt="imagem do curso {{course.name}}">
        
        
                    <div class="card__content">
                        <p class="card__info">{{course.info}}</p>
                        <div class="card__desc">
                            <p class="card__modules">{{course.modules}}</p>
                            <p class="price">{{course.price}}</p>
                        </div>
                    </div>
            </div>
        </section>

        <script src="/cursos.js"></script>
    {% endblock %}
