{% extends 'layout.njk' %}

{% block head %}

    <title>Página não encontrada</title>

{% endblock %}

{% block bodyId %}
    <body id="page-not-found">
{% endblock bodyId %}

{% block content %}
    <section id="not-found">
        <div class="content">
            <h1>Que frustrante...</h1>
            <p>A página solicitada não foi encontrada.</p>
        </div>
    </section>

    <div id="footer-links" class="links">
        <a href="https://github.com/rocketseat/" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
    </div>
{% endblock content %}